<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Error</h1>
        <p th:text="${errorMessage}">Something went wrong...</p>
    </div>

</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>