<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Confirm remove</h1>
    </div>

    <form action="#" th:action="${action}" method="post">
        <h3>Are you sure you want to delete <span th:text="${object}"> </span> with ID: <span th:text="${id}"> </span>?</h3>
        <br/>
        <input type="submit" value="Remove" class="btn btn-default"/>
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>