<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Document list</h1>
    </div>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Number</th>
            <th>Owner's ID</th>
            <th>Action</th>
        </tr>
        <tr th:each="doc : ${docList}">
            <td th:text="${doc.id}"></td>
            <td th:text="${doc.type}"></td>
            <td th:text="${doc.number}"></td>
            <td th:text="${doc.userId}"></td>
            <td><a th:href="@{doc/{id}(id=${doc.id})}">Edit</a> | <a th:href="@{doc/{id}/remove(id=${doc.id})}">Remove</a></td>
        </tr>
    </table>

    <h3>Duplicates</h3>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Number</th>
            <th>Owner's ID</th>
            <th>Action</th>
        </tr>
        <tr th:each="doc : ${docDuplicates}">
            <td th:text="${doc.id}"></td>
            <td th:text="${doc.type}"></td>
            <td th:text="${doc.number}"></td>
            <td th:text="${doc.userId}"></td>
            <td><a th:href="@{doc/{id}(id=${doc.id})}">Edit</a> | <a th:href="@{doc/{id}/remove(id=${doc.id})}">Remove</a></td>
        </tr>
    </table>

    <a th:href="@{/doc/new}" class="btn btn-default">Create document</a>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>