<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="starter-template">
        <h1>Wargaming test task</h1>
        <h2>1. Visit <a th:href="@{/users}">Users page</a></h2>
        <h2>2. Visit <a th:href="@{/docs}">Documents page</a></h2>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>