<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>User list</h1>
    </div>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.name}">name</td>
            <td>
                <a th:href="@{user/{id}(id=${user.id})}">Edit</a> |
                <a th:href="@{user/{id}/remove(id=${user.id})}">Remove</a> |
                <a th:href="@{user/{id}/remove(id=${user.id},withDocs='true')}">Remove with docs</a>
            </td>
        </tr>
    </table>

    <a th:href="@{/user/new}" class="btn btn-default">Create user</a>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>