<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>User details</h1>
    </div>

    <form action="#" th:action="@{/user}" th:object="${user}" method="post">
        <h3>ID</h3>
        <input th:field="*{id}" class="form-control" readonly="readonly" />
        <h3>Name</h3>
        <input th:field="*{name}" class="form-control" />
        <br/>

        <h3>Documents</h3>

        <table class="table">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Number</th>
                <th>Owner's ID</th>
            </tr>
            <tr th:each="doc : ${user.documents}">
                <td th:text="${doc.id}"></td>
                <td th:text="${doc.type}"></td>
                <td th:text="${doc.number}"></td>
                <td th:text="${doc.userId}"></td>
            </tr>
        </table>
        <br/>
        <input type="submit" value="Save" class="btn btn-default"/>
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>